{% load smartmenu_tags %}
{% load i18n %}

<!-- Static navbar -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    {% if not hide_logo %}
                        {% block home_link %}
                        <a href="{% url 'customer:index' %}">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"/></a>
                        {% if restaurant and order and not order.is_closed %}
                            <a href="{% url 'customer:menu' restaurant.id %}">{{restaurant.name}}</a>
                        {% elif restaurant%}
                            <a href="{% url 'customer:menu' restaurant.id %}">{{restaurant.name}}</a>
                    {% endif %}
                        {% endblock home_link %}
                    {% if order and not order.is_closed %}
                    <a class="btn btn-sm btn-success" href="{% url 'customer:order' order.table.restaurant.id %}">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                            {{ order.total }} {{ order.currency }}</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if menu_languages %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{% trans "Menu Language" %}: {{ language.name }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for lang in menu_languages %}
                                <li><a href="{% url 'customer:menu' restaurant.id %}?l={{lang.abbr}}">{{ lang.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <li><a href="{% url 'accounts:login' %}">{% trans "Login" %}</a></li>
                    {% else %}
                        <p class="navbar-text">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Signed in as" %}: {{ user.first_name }} {{ user.last_name }} ({{ user.username }})<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'main:profile' %}">{% trans "Profile" %}</a></li>
                                <li><a href="{% url 'main:logout' %}?next={{request.path}}">{% trans "Logout" %}</a></li>
                            </ul>
                        </li>
                        </p>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>