{% extends 'manager/base.html' %}

{% load staticfiles %}

{% block title %}SmartMenu / Manager / Item {% endblock %}

{% block content %}
<div class="container">

    {% if item18n.translated %}
    <h1 class="inline">{{ item18n.name }}</h1>
    {% else %}
    <span class="no-translation">Item is not yet translated to {{language.name}}.</span><br>Translate it by changing the name and description in the table below and clicking the save button.
    {% endif %}

    {% if item18n.translated %}
    <a href="{% url 'manager:delete_item' item18n.item.id %}" class="text-danger">delete</a>
    {% endif %}

    <h3>Translations:</h3>
    <table class="table-languages">
        {% for lang, current, translation in languages %}
        <tr>
            <td>{% if current %}<b>{{lang}}</b> {% else %} <a
                    href="{% url 'manager:manage_item' item18n.item.id %}?l={{lang.abbr}}">{{lang}}</a> {% endif%}
            </td>
            <td>{% if translation %}
                {{translation.name}}
                {% else %}
                <span class="no-translation">missing translation</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <hr>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <table class="item-table">
            <tr>
                <th>{{ form.no.label }} {{ form.no.errors}}</th>
                <td>{{ form.no }}</td>
            </tr>
            <tr>
                <th>{{ form.name.label }}</th>
                <td {% if not item18n.translated %} class="change-this" {% endif %}>{{ form.name }}</td>
            </tr>
            <tr>
                <th>{{ form.description.label }}</th>
                <td {% if not item18n.translated %} class="change-this" {% endif %}>{{ form.description }}</td>
            </tr>
            <tr>
                <th>{{ form.price.label }} {{ form.price.errors}}</th>
                <td>{{ form.price }}</td>
            </tr>
            <tr>
                <th>{{ form.image.label }} {{ form.image.errors}}</th>
                <td>{{ form.image }}</td>
            </tr>
            <tr><td>
                <button class="btn btn-primary">Save</button>
            </td></tr>
        </table>


        <div class="manage-allergens">
            <h3>Allergens</h3>
            <table>
                <tr>
                    <th>Full</th>
                    <th>Traces</th>
                    <th>No</th>
                    <th>Name</th>
                </tr>
            {% for ai, a18n in allergens %}
                <tr>
                    <td>
                        <input type="radio" name="allergen_{{a18n.allergen.id}}" value="full" {{ ai.traces|yesno:',checked,'}}>
                    </td>
                    <td>
                        <input type="radio" name="allergen_{{a18n.allergen.id}}" value="traces" {{ ai.traces|yesno:'checked,,'}}>
                    </td>
                    <td>
                        <input type="radio" name="allergen_{{a18n.allergen.id}}" value="none" {{ ai|yesno:',,checked'}}>
                    </td>
                    <td>{{a18n.name}}</td>
                </tr>
            {% endfor%}
            </table>
        </div>
    </form>
</div>

{% endblock %}